language: node_js
notifications:
  slack: theselftalk:EHiDWYYgq34Y172TrHTqA16W
node_js:
  - stable
services:
  - docker
before_script:
  - docker-compose -f docker-compose.test.yml up --build -d
  - git clone https://github.com/vishnubob/wait-for-it.git
  - ./wait-for-it/wait-for-it.sh localhost:7474 --strict  -- echo "Neo4j is up"
install:
  - yarn install
script:
  - yarn lint
  - yarn test
after_success:
  - yarn run coverage